body {
	padding-top: 10px;
}

.header {
	height: 120px;
	background-color: #2980b9;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 25px;
	border-radius: 0;
	color: #fff;
}

.footer {
	padding: 10px;
	background-color: #2980b9;
	border-radius: 0;
	color: #fff;
	margin-bottom: 10px;
}

.navbar-custom {
	background-color: #2980b9;
	color: #fff;
	border-radius: 0;
}
.navbar-custom .navbar-nav > li > a {
	color: #fff;
}
.navbar-custom .navbar-nav > .active > a {
	color: #fff;
	background-color: transparent;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > li > .active > a:hover,
.navbar-custom .navbar-nav > li > .active > a:focus,
.navbar-custom .navbar-nav > li > .open > a {
	text-decoration: none;
	background-color: #3498db;
}
.navbar-custom .navbar-brand {
	color: #eee;
}
.navbar-custom .navbar-toggle {
	background-color: #eee;
}
.navbar-custom .icon-bar {
	background-color: #3498db;
}
.panel {
	border-radius: 0;
}
.panel-heading {
	border-radius: 0;
}